body {
  background-image: url(./assets/mountains.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;

  /* Center clock */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock-container {
  backdrop-filter: blur(5px);
  padding: 0.5rem;
  border-radius: 1rem;
}

.clock {
  font-family: monospace;
  font-weight: bold;
  color: aliceblue;
  font-size: 5rem;
  text-shadow: 3px 3px 10px hsla(28, 100%, 16%, 0.822);
}
