body {
  background-image: url(./assets/mountains.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;

  /* Center clock */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock-container,
.stopwatch {
  backdrop-filter: blur(5px);
  padding: 0.5rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.clock,
.display {
  font-family: monospace;
  font-weight: bold;
  color: aliceblue;
  font-size: 5rem;
  text-shadow: 3px 3px 10px hsla(28, 100%, 16%, 0.822);
}

.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls button {
  font-size: 1rem;
  font-family: monospace;
  padding: 10px 20px;
  border: none;
  border-radius: 1rem;
  margin: 5px;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.controls button:hover {
  transform: scale(1.1);
}
