.card {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 8px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  padding: 13px;
  margin: 13px;
  text-align: center;
  max-width: 230px;
  display: inline-block;
}

.card .card-image {
  width: 200px;
  height: 200px;
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 8px;
}

.card .card-title {
  font-family: "Arial", sans-serif;
  font-size: 1.5em;
  margin: 10px;
  color: hsl(0, 0%, 0%);
}

.card .card-text {
  font-family: "Arial", sans-serif;
  color: hsl(0, 0%, 40%);
}
