.todo-list {
  font-family: system-ui, sans-serif;
  text-align: center;
  margin: 2rem auto;
  max-width: 600px;
}

h2 {
  font-size: 2.5rem;
}

button {
  font-weight: bold;
  color: white;
  font-size: 1.25rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  transition: background-color 0.25s ease;
}

.add-btn {
  background-color: hsl(120, 77%, 37%);
}

.add-btn:hover {
  background-color: hsl(120, 77%, 27%);
}

input[type="text"] {
  font-size: 1.25rem;
  padding: 0.15rem;
  border-radius: 0.25rem;
  border: 2px solid lightgrey;
}

ol {
  padding: 0;
}

li {
  font-size: 1.25rem;
  background-color: hsl(0, 0%, 95%);
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
}
